@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Strings

<div class="text-center">
    <h1 class="display-4">@Strings["Welcome"]</h1>
    <div class="d-flex justify-content-center mt-3">
        <div class="list-group list-group-horizontal w-50">
            <a class="list-group-item list-group-item-action list-group-item-secondary" asp-area="" asp-controller="ExpenseReports" asp-action="Create">
                @Strings["Create Expense Report"]
            </a>
            <a class="list-group-item list-group-item-action list-group-item-secondary" asp-area="" asp-controller="ExpenseReports" asp-action="Index">
                @Strings["Manage Expense Reports"]
            </a>
        </div>
    </div>
</div>
