<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>Request ID:</strong> <code>@ViewData["RequestId"]</code>
</p>

@if (!(bool)ViewData["ShowException"])
{
    <p>
        <strong>Message:</strong> <code style="color: red">@ViewData["ExceptionType"]</code>
    </p>
    <p>
        <strong>Message:</strong> <code style="color: red">@ViewData["ExceptionMessage"]</code>
    </p>
}
