@using TrdP.Mvc.Localization.Abstractions

@inject IViewLocalizer Strings;

@{
    ViewData["Title"] = Strings["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@Strings["Welcome"]</h1>
    <a asp-controller="TestData" asp-action="Edit" class="btn btn-primary">@Strings["Show Form"]</a>
</div>
