@using TrdP.Mvc.Localization.Abstractions
@using TrdP.TestWebAppResources

@inject IViewLocalizer Strings;

@{
    ViewData["Title"] = Strings["Home Page"];
}

<div class="text-center">
    <h1 class="display-4">@Strings["Welcome"]</h1>
</div>
