@using TrdP.Mvc.Localization.Abstractions
@using TrdP.TestWebApp.Models.TestData
@using TrdP.TestWebAppResources
@model TrdP.TestWebApp.Models.TestData.EditViewModel

@inject IViewLocalizer Strings;
@inject IHtmlLocalizer<Resources> SharedStrings;

@{
    ViewData["Title"] = "Edit";
}

<h1>Test Data</h1>

<h4>@SharedStrings["Edit"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input class="form-control" asp-for="Name">
                <span asp-validation-for="Name" class="text-danger"></span>
                <small id="nameHelp" class="form-text text-muted">@Strings["Please inform your full name with no abbreviations."]</small>
            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input class="form-control" asp-for="Phone">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailConfirmation"></label>
                <input class="form-control" asp-for="EmailConfirmation">
                <span asp-validation-for="EmailConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreditCard"></label>
                <input class="form-control" asp-for="CreditCard">
                <span asp-validation-for="CreditCard" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedIn"></label>
                <input class="form-control" asp-for="LinkedIn">
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age"></label>
                <input class="form-control" asp-for="Age">
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <select class="form-control" asp-for="Gender" asp-items="Html.GetEnumSelectList<Gender>()">
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedStrings["Send"]" class="btn btn-primary" />
                <a asp-controller="Home" asp-action="Index">@Strings["Back to home"]</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
